asgiref==3.8.1
attrs==26.1.0
Django==5.1.6
django-environ==0.12.0
djangorestframework==3.16.1
drf-spectacular==0.28.0
factory_boy==3.3.3
Faker==37.5.3
inflection==0.5.1
iniconfig==2.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
packaging==25.0
pluggy==1.6.0
psycopg==3.2.3
psycopg2-binary==2.9.10
Pygments==2.19.1
pytest==8.4.0
pytest-django==4.11.1
python-dotenv==1.1.0
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.30.0
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2025.2
uritemplate==4.2.0
